<h3><a class="btn btn-secondary" href="/Event"><i class="fa fa-plus"></i> Create New</a> Event List</h3>
<table class="table table-striped">
    <thead>
        <tr>
            
            <th>Participant Name</th>
            <th>Department</th>
            <th>Event Name</th>
            <th>Payment Status</th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            
            <td>{{this.name}}</td>
            <td>{{this.department}}</td>
            <td>{{this.eventname}}</td>
            <td>{{this.status}}</td>
            <td>
                <a href="/learner/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/learner/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>